{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>About</h2>
            {{if .}} 
            <p>Data: {{ .Data.test }}</p>
            {{ end }}
            <a href="/">Home</a>
        </div>
    </div>
</div>

{{ end }}