{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Hi, Web</h2>
            asdsa
        </div>
    </div>
</div>

{{ end }}